body {
    min-height: 100%;

}
div {
    width: 500px;
    margin: 0 auto;
}
.expanded {
    display: block;
}
p {
    display: none;
}
.target-info {
    overflow: scroll;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    line-height: 10px;
    height: 100%;
    border: 1px solid red;
}

